GEMINI_API_KEY=AIzaSyBGxtmPYb_kj11H5ViCmqvrw6_TGWUurY8
MONGODB_URI=mongodb+srv://balusudireddy0:Murali222@cluster0.lxe4o4n.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
NEXTAUTH_SECRET=testai
